

.kn-gioan-gallery-image.kn-gioan-active{
    opacity: 1;
    position: relative !important;
}
.kn-gioan-image-fade{
    opacity: 0 !important;
}

.kn-gioan-gallery-images-outer-container{
    position: relative;
    width:100%;
}

.kn-gioan-gallery-images-container{
    position: relative;
    width:100%;

}

.kn-gioan-gallery-image{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    opacity:0;
    transition: all 0.5s ease-in-out;

}