.kn-gioan-slider-options-page{
    width: calc( 100% - 64px);
    position: relative;
    padding: 16px 32px;
    background-color: #fff;
    margin: 24px 0px 8px;
    border: 1px solid #c3c4c7;

}

.kn-gioan-slider-galleries{
    width:100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px 16px;
}

.kn-gioan-slider-gallery{
    width: calc(100% - 32px);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #f6f7f7;
    padding: 8px 16px 24px;
    border: 1px solid #dcdcde;
    margin-top:8px;
}

.kn-gioan-slider-gallery > h4{
    position: relative;
    width:100%;
    margin: 0px;
    padding:24px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 24px;
}

.kn-gioan-slider-gallery-item{
    width:200px;
    height: 200px;
    position: relative;
    display: flex;
    margin:10px;
}

.kn-gioan-slider-gallery-item > img{
    position: relative;
    width: 100%;
    height:100%;
    object-fit: cover;
}

.kn-gioan-slider-gallery-item > button{
    border: none;
    background: #333;
    outline: none;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    width:30px;
    height: 30px;
    position: absolute;
    top:-15px;
    right:-15px;
    z-index: 1;
    opacity: 0.7;
    transition: all 0.2s ease;
    cursor: pointer;
}

.kn-gioan-slider-gallery-item > button:hover{
    opacity: 1;
}